<a href="https://colab.research.google.com/github/amfsunlimited/Machine-Learning-Beginner-/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries: Firstly we will import the library which will help in building the model. Below is the code for it:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mtp

Importing dataset: Now we will import the dataset(50_CompList), which contains all the variables. Below is the code for it:

In [16]:
data_set = pd.read_csv("Real estate.csv")
data_set

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

Extracting dependent and independent Variables:

In [26]:
x = data_set.iloc[:,:-1].values

In [33]:
y = data_set.iloc[:,6:].values

In [ ]:
y

Now we will split the dataset into training and test set. The code for this is given below:

In [35]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)

In MLR, we will not do feature scaling as it is taken care by the library, so we don't need to do it manually.

In [39]:
len(y_test),len(y_train)

(83, 331)

Step: 2- Fitting our MLR model to the Training set:
Now, we have well prepared our dataset in order to provide training, which means we will fit our regression model to the training set. It will be similar to as we did in Simple Linear Regression
model. The code for this will be:

In [40]:
#Fitting the MLR model to the training set:  
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

Step: 3- Prediction of Test set results:
The last step for our model is checking the performance of the model. We will do it by predicting the test set result. For prediction, we will create a y_pred vector. Below is the code for it:

In [41]:
y_pred = reg.predict(x_test)

In [43]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6573242742218013

In [44]:
print('Train Score: ', reg.score(x_train, y_train))  
print('Test Score: ', reg.score(x_test, y_test))

Train Score:  0.5648053492261488
Test Score:  0.6573242742218013